.navigation-bar{
  position: relative;
  left: 0;
  top: 0;
  width: 750rpx;
  color: #ffffff;
  z-index: 99;
  text-align: center;
  transition: 300ms;
}
.back{
  position: absolute;
  left: 0;
  top: 0;
  min-width: 70rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-back{
  display: flex;
  justify-content: center;
  align-items: center;
  image {
    width: 40rpx;
    height: 40rpx;
    padding-left: 20rpx;
  }
}
.back-home{
  width: auto;
  text-align: center;
  font-size: 30rpx;
}
.title{
  // font-weight: bold;
}
.navigation-bar-holder{
  background: transparent;
  position: relative;
  z-index: 2;
  transition: 300ms;
}