@import './public/styles/index.scss';

$test: column;

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: $test;
  height: 100%;
  font-size: $font-t1;
  color: $color-z1;
  justify-content: space-between;
}
